In [8]:
from sensor.utils.main_utils import read_yaml_file

file_path = 'config/schema.yaml'

def test_read_yaml_file():
    try:
        content = read_yaml_file(file_path=file_path)
        print(content)
    except Exception as e:
        print(e)

if __name__ == "__main__":
    test_read_yaml_file()

{'columns': [{'class': 'category'}, {'aa_000': 'int'}, {'ac_000': 'int'}, {'ad_000': 'int'}, {'ae_000': 'int'}, {'af_000': 'int'}, {'ag_000': 'int'}, {'ag_001': 'int'}, {'ag_002': 'int'}, {'ag_003': 'int'}, {'ag_004': 'int'}, {'ag_005': 'int'}, {'ag_006': 'int'}, {'ag_007': 'int'}, {'ag_008': 'int'}, {'ag_009': 'int'}, {'ah_000': 'int'}, {'ai_000': 'int'}, {'aj_000': 'int'}, {'ak_000': 'int'}, {'al_000': 'int'}, {'am_0': 'int'}, {'an_000': 'int'}, {'ao_000': 'int'}, {'ap_000': 'int'}, {'aq_000': 'int'}, {'ar_000': 'int'}, {'as_000': 'int'}, {'at_000': 'int'}, {'au_000': 'int'}, {'av_000': 'int'}, {'ax_000': 'int'}, {'ay_000': 'int'}, {'ay_001': 'int'}, {'ay_002': 'int'}, {'ay_003': 'int'}, {'ay_004': 'int'}, {'ay_005': 'int'}, {'ay_006': 'int'}, {'ay_007': 'int'}, {'ay_008': 'int'}, {'ay_009': 'int'}, {'az_000': 'int'}, {'az_001': 'int'}, {'az_002': 'int'}, {'az_003': 'int'}, {'az_004': 'int'}, {'az_005': 'int'}, {'az_006': 'int'}, {'az_007': 'int'}, {'az_008': 'int'}, {'az_009': 'int'}, {'ba_000': 'int'}, {'ba_001': 'int'}, {'ba_002': 'int'}, {'ba_003': 'int'}, {'ba_004': 'int'}, {'ba_005': 'int'}, {'ba_006': 'int'}, {'ba_007': 'int'}, {'ba_008': 'int'}, {'ba_009': 'int'}, {'bb_000': 'int'}, {'bc_000': 'int'}, {'bd_000': 'int'}, {'be_000': 'int'}, {'bf_000': 'int'}, {'bg_000': 'int'}, {'bh_000': 'int'}, {'bi_000': 'int'}, {'bj_000': 'int'}, {'bk_000': 'int'}, {'bl_000': 'int'}, {'bm_000': 'int'}, {'bs_000': 'int'}, {'bt_000': 'int'}, {'bu_000': 'int'}, {'bv_000': 'int'}, {'bx_000': 'int'}, {'by_000': 'int'}, {'bz_000': 'int'}, {'ca_000': 'int'}, {'cb_000': 'int'}, {'cc_000': 'int'}, {'cd_000': 'int'}, {'ce_000': 'int'}, {'cf_000': 'int'}, {'cg_000': 'int'}, {'ch_000': 'int'}, {'ci_000': 'int'}, {'cj_000': 'int'}, {'ck_000': 'int'}, {'cl_000': 'int'}, {'cm_000': 'int'}, {'cn_000': 'int'}, {'cn_001': 'int'}, {'cn_002': 'int'}, {'cn_003': 'int'}, {'cn_004': 'int'}, {'cn_005': 'int'}, {'cn_006': 'int'}, {'cn_007': 'int'}, {'cn_008': 'int'}, {'cn_009': 'int'}, {'co_000': 'int'}, {'cp_000': 'int'}, {'cq_000': 'int'}, {'cs_000': 'int'}, {'cs_001': 'int'}, {'cs_002': 'int'}, {'cs_003': 'int'}, {'cs_004': 'int'}, {'cs_005': 'int'}, {'cs_006': 'int'}, {'cs_007': 'int'}, {'cs_008': 'int'}, {'cs_009': 'int'}, {'ct_000': 'int'}, {'cu_000': 'int'}, {'cv_000': 'int'}, {'cx_000': 'int'}, {'cy_000': 'int'}, {'cz_000': 'int'}, {'da_000': 'int'}, {'db_000': 'int'}, {'dc_000': 'int'}, {'dd_000': 'int'}, {'de_000': 'int'}, {'df_000': 'int'}, {'dg_000': 'int'}, {'dh_000': 'int'}, {'di_000': 'int'}, {'dj_000': 'int'}, {'dk_000': 'int'}, {'dl_000': 'int'}, {'dm_000': 'int'}, {'dn_000': 'int'}, {'do_000': 'int'}, {'dp_000': 'int'}, {'dq_000': 'int'}, {'dr_000': 'int'}, {'ds_000': 'int'}, {'dt_000': 'int'}, {'du_000': 'int'}, {'dv_000': 'int'}, {'dx_000': 'int'}, {'dy_000': 'int'}, {'dz_000': 'int'}, {'ea_000': 'int'}, {'eb_000': 'int'}, {'ec_00': 'int'}, {'ed_000': 'int'}, {'ee_000': 'int'}, {'ee_001': 'int'}, {'ee_002': 'int'}, {'ee_003': 'int'}, {'ee_004': 'int'}, {'ee_005': 'int'}, {'ee_006': 'int'}, {'ee_007': 'int'}, {'ee_008': 'int'}, {'ee_009': 'int'}, {'ef_000': 'int'}, {'eg_000': 'int'}], 'numerical_columns': ['aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000', 'ag_001', 'ag_002', 'ag_003', 'ag_004', 'ag_005', 'ag_006', 'ag_007', 'ag_008', 'ag_009', 'ah_000', 'ai_000', 'aj_000', 'ak_000', 'al_000', 'am_0', 'an_000', 'ao_000', 'ap_000', 'aq_000', 'ar_000', 'as_000', 'at_000', 'au_000', 'av_000', 'ax_000', 'ay_000', 'ay_001', 'ay_002', 'ay_003', 'ay_004', 'ay_005', 'ay_006', 'ay_007', 'ay_008', 'ay_009', 'az_000', 'az_001', 'az_002', 'az_003', 'az_004', 'az_005', 'az_006', 'az_007', 'az_008', 'az_009', 'ba_000', 'ba_001', 'ba_002', 'ba_003', 'ba_004', 'ba_005', 'ba_006', 'ba_007', 'ba_008', 'ba_009', 'bb_000', 'bc_000', 'bd_000', 'be_000', 'bf_000', 'bg_000', 'bh_000', 'bi_000', 'bj_000', 'bk_000', 'bl_000', 'bm_000', 'bs_000', 'bt_000', 'bu_000', 'bv_000', 'bx_000', 'by_000', 'bz_000', 'ca_000', 'cb_000', 'cc_000', 'cd_000', 'ce_000', 'cf_000', 'cg_000', 'ch_000', 'ci_000', 'cj_000', 'ck_000', 'cl_000', 'cm_000', 'cn_000', 'cn_001', 'cn_002', 'cn_003', 'cn_004', 'cn_005', 'cn_006', 'cn_007', 'cn_008', 'cn_009', 'co_000', 'cp_000', 'cq_000', 'cs_000', 'cs_001', 'cs_002', 'cs_003', 'cs_004', 'cs_005', 'cs_006', 'cs_007', 'cs_008', 'cs_009', 'ct_000', 'cu_000', 'cv_000', 'cx_000', 'cy_000', 'cz_000', 'da_000', 'db_000', 'dc_000', 'dd_000', 'de_000', 'df_000', 'dg_000', 'dh_000', 'di_000', 'dj_000', 'dk_000', 'dl_000', 'dm_000', 'dn_000', 'do_000', 'dp_000', 'dq_000', 'dr_000', 'ds_000', 'dt_000', 'du_000', 'dv_000', 'dx_000', 'dy_000', 'dz_000', 'ea_000', 'eb_000', 'ec_00', 'ed_000', 'ee_000', 'ee_001', 'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008', 'ee_009', 'ef_000', 'eg_000'], 'drop_columns': ['br_000', 'bq_000', 'bp_000', 'ab_000', 'cr_000', 'bo_000', 'bn_000']}

In [10]:
from sensor.utils.main_utils import read_yaml_file,write_yaml_file
import pandas as pd
from scipy.stats import ks_2samp
from sensor.entity.config_entity import DataIngestionConfig



sensor_data_path = 'artifact/09_28_2024_23_08_43/data_ingestion/feature_store/sensor.csv'
test_file_path = 'artifact/09_28_2024_23_08_43/data_ingestion/ingested/test.csv'
train_file_path = 'artifact/09_28_2024_23_08_43/data_ingestion/ingested/train.csv'

df1 = pd.read_csv(test_file_path)
df2 = pd.read_csv(train_file_path)
sensor_data = pd.read_csv(sensor_data_path)

print(df1.columns)
print(df2.columns)

print(sensor_data.columns)

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)
Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)
Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [ ]:
import yaml
schema_path='config/schema.yaml'

with open(schema_path,'r') as file:
    schema_content = yaml.safe_load(file)

print(schema_content["numerical_columns"])

df1[schema_content["numerical_columns"]]

In [ ]:
x=ks_2samp(df1["ac_000"],df2["ac_000"])
x.pvalue

np.float64(nan)

In [ ]:
print(df1["ac_000"])
print(df2["ac_000"])
a=ks_2samp(df1["ac_000"],df2["ac_000"])
print(a.pvalue)

0        0.000000e+00
1        6.000000e+00
2        2.120000e+02
3        3.440000e+02
4        7.120000e+02
             ...
11995    1.360000e+02
11996    2.130706e+09
11997    2.100000e+02
11998    4.400000e+02
11999    4.600000e+01
Name: ac_000, Length: 12000, dtype: float64
0        2.200000e+01
1        4.200000e+01
2        8.000000e+00
3        2.130706e+09
4        0.000000e+00
             ...
47995    2.120000e+03
47996    8.200000e+01
47997    1.880000e+02
47998    4.400000e+01
47999    2.260000e+02
Name: ac_000, Length: 48000, dtype: float64
nan

In [ ]:
import numpy as np

print("df1['ac_000'] info:")
print(df1["ac_000"].describe())
print(f"NaN count: {df1['ac_000'].isna().sum()}")
print(f"Infinite count: {np.isinf(df1['ac_000']).sum()}")

print("\ndf2['ac_000'] info:")
print(df2["ac_000"].describe())
print(f"NaN count: {df2['ac_000'].isna().sum()}")
print(f"Infinite count: {np.isinf(df2['ac_000']).sum()}")

# Remove NaN and infinite values before performing the test
df1_ac_000_clean = df1["ac_000"].dropna().replace([np.inf, -np.inf], np.nan).dropna()
df2_ac_000_clean = df2["ac_000"].dropna().replace([np.inf, -np.inf], np.nan).dropna()

print("\nAfter cleaning:")
print(f"df1['ac_000'] length: {len(df1_ac_000_clean)}")
print(f"df2['ac_000'] length: {len(df2_ac_000_clean)}")

if len(df1_ac_000_clean) > 0 and len(df2_ac_000_clean) > 0:
    a = ks_2samp(df1_ac_000_clean, df2_ac_000_clean)
    print(f"\nKS test p-value: {a.pvalue}")
else:
    print("\nUnable to perform KS test: One or both arrays are empty after cleaning.")

df1['ac_000'] info:
count    1.129300e+04
mean     3.582941e+08
std      7.969319e+08
min      0.000000e+00
25%      1.800000e+01
50%      1.520000e+02
75%      9.880000e+02
max      2.130707e+09
Name: ac_000, dtype: float64
NaN count: 707
Infinite count: 0

df2['ac_000'] info:
count    4.537200e+04
mean     3.554468e+08
std      7.943699e+08
min      0.000000e+00
25%      1.600000e+01
50%      1.520000e+02
75%      9.580000e+02
max      2.130707e+09
Name: ac_000, dtype: float64
NaN count: 2628
Infinite count: 0

After cleaning:
df1['ac_000'] length: 11293
df2['ac_000'] length: 45372

KS test p-value: 0.6074866602522057

In [ ]:
df2.drop(columns=schema_content["drop_columns"],axis=1,inplace=True)
df1.drop(columns=schema_content["drop_columns"],axis=1,inplace=True)

In [ ]:
df1

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,38360,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,413614.0,128948.0,232640.0,182112.0,124972.0,104546.0,286396.0,10150.0,0.0,0.0
1,neg,8,6.000000e+00,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.0,8.0,2892.0,18.0,94.0,20.0,0.0,0.0,0.0,0.0
2,neg,43980,2.120000e+02,176.0,0.0,0.0,0.0,0.0,0.0,0.0,...,409274.0,193536.0,374626.0,270080.0,234822.0,163272.0,249406.0,29022.0,0.0,0.0
3,neg,47196,3.440000e+02,310.0,0.0,0.0,0.0,0.0,0.0,0.0,...,459266.0,303178.0,706184.0,389198.0,152248.0,73352.0,137134.0,1142.0,0.0,0.0
4,neg,39824,7.120000e+02,594.0,0.0,0.0,0.0,0.0,0.0,0.0,...,79808.0,49586.0,192718.0,323436.0,322422.0,233182.0,425904.0,16936.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,neg,39966,1.360000e+02,110.0,0.0,0.0,0.0,0.0,0.0,0.0,...,261134.0,101100.0,210042.0,207198.0,187998.0,167350.0,467424.0,27282.0,0.0,0.0
11996,neg,16,2.130706e+09,22.0,2.0,0.0,0.0,0.0,0.0,0.0,...,204.0,34.0,18.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0
11997,neg,31372,2.100000e+02,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,329528.0,153694.0,314692.0,450192.0,109768.0,58168.0,40328.0,0.0,0.0,0.0
11998,neg,30852,4.400000e+02,84.0,0.0,0.0,0.0,0.0,0.0,0.0,...,342866.0,138924.0,422298.0,460966.0,22336.0,458.0,550.0,0.0,0.0,0.0
11999,neg,0,4.600000e+01,30.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [ ]:
from sensor.ml.model.model_estimator import TargetValueMapping

TargetValueMapping().to_dict()

TargetValueMapping().reverse_mapping()

{0: 'neg', 1: 'pos'}

In [11]:
sensor_data['class'].value_counts()

class
neg    59000
pos     1000
Name: count, dtype: int64